# Data Merging Using Pandas

In [11]:
import pandas as pd
df={
    "id": [3,4,5],
    "Name": ["Ali", "bilal", "Total"]
}
df3={
    "id": [3,4,6],
    "Group_name": ["Ninja", "eagal", "Gaming"]
}
data1= pd.DataFrame(df)
data3=pd.DataFrame(df3)

totalData=pd.merge(data1,data3,how="inner",on="id")
totalData

   id   Name Group_name
0   3    Ali      Ninja
1   4  bilal      eagal

# Data Concatenation Using Pandas

In [1]:
import pandas as pd
df={
    "id": [3,4,5],
    "Name": ["Ali", "bilal", "Total"]
}
df3={
    "id": [3,4,6],
    "Group_name": ["Ninja", "eagal", "Gaming"]
}
data1= pd.DataFrame(df)
data3=pd.DataFrame(df3)

totalData=pd.concat([data1,data3],axis=1)
totalData

   id   Name  id Group_name
0   3    Ali   3      Ninja
1   4  bilal   4      eagal
2   5  Total   6     Gaming